
p {
  font-family: Arial;
}

circle {
  fill: #f35;
}

.chart div{
  font: 10px sans-serif;
  color: white;
  background-color: #638749;
  margin: 1px;
  padding: 3px;
  text-align: right;
}

.main svg {
    background-color: #f35;
}

.colors li {
  list-style: none;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 18px;
}
